body{margin: 0px;}
.header{width:100%;
		height: 48.5px;
		background-color:#00e3e3;
		position: fixed;
		left: 0px;
		top: 0px;
		}
.a1,.a2,.a3{color: white;
			text-align: center;
			}
.a1{position: absolute;
	left: 0px;
	top: 0px;
	margin:13.85px 0 13.85px 15.5px;
	}
.a2{font-weight: bold;
	margin: 13.85px 0;
	}
.a3{position: absolute;
	right: 0px;
	top: 0px;
	margin: 13.85px 15.5px 13.85px 0;
	}