body{margin: 0px;
	background-color: #eff0f4;}
.header{background-color: #5fc0cd;
		position: relative;
		width: 100%;height: 50px;
		display: flex;
		align-items: center;
		color: white;}
.close{position: absolute;right: 10px;}
.land1{position: absolute;left: 50%;
	transform: translateX(-50%);
		font-weight: bold;}
.logon{position: absolute;left: 10px;}
.num,.mima{background-color: white;
			margin-top: 10px;
			margin-bottom: 10px;
			height: 40px;width: 100%;
			display: flex;align-items: center;}
form img{width: 13.5px;height: 20.5px;
		margin-left: 15px;
		margin-right: 15px;}
.ver{width: 1px;height: 26px;margin-left: 0;}
input{border-style: none;outline: none;
	padding: 0;height: 100%;
	width: calc(100% - 59.5px);}
.land{background-color: #5fc0cd;
	width: 100%;height: 50px;
	margin-top: 40px;}
button{color: white;font-weight: bold;
	font-size: 16px;
	background-color: transparent;
	border-width: 0;
	padding: 0;
	width: 100%;height: 100%;}
a{position: absolute;right: 0px;}