#gopng_task5-2_03_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
#gopng_task5-2_03 {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_task5-2_06_outer {
height: 39px;
width: 21px;
overflow: hidden;
}
#gopng_task5-2_06 {
background: url(http://gopng/static/images/sprite.png) -47px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 47px;
_margin-left: -47px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_task5-2_09_outer {
height: 37px;
width: 23px;
overflow: hidden;
}
#gopng_task5-2_09 {
background: url(http://gopng/static/images/sprite.png) -68px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 68px;
_margin-left: -68px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_形状 2_outer {
height: 22px;
width: 21px;
overflow: hidden;
}
#gopng_形状 2 {
background: url(http://gopng/static/images/sprite.png) -91px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 91px;
_margin-left: -91px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_矢量智能对象 拷贝_outer {
height: 17px;
width: 10px;
overflow: hidden;
}
#gopng_矢量智能对象 拷贝 {
background: url(http://gopng/static/images/sprite.png) -112px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 112px;
_margin-left: -112px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_Shape 4 拷贝 5_outer {
height: 12px;
width: 10px;
overflow: hidden;
}
#gopng_Shape 4 拷贝 5 {
background: url(http://gopng/static/images/sprite.png) -122px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 122px;
_margin-left: -122px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_calendar2 拷贝 5_outer {
height: 12px;
width: 12px;
overflow: hidden;
}
#gopng_calendar2 拷贝 5 {
background: url(http://gopng/static/images/sprite.png) -132px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 132px;
_margin-left: -132px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_形状 1 拷贝 2_outer {
height: 4px;
width: 7px;
overflow: hidden;
}
#gopng_形状 1 拷贝 2 {
background: url(http://gopng/static/images/sprite.png) -144px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 144px;
_margin-left: -144px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
